<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sunseeker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="./style/bootstrap.css">
    <link rel="stylesheet" href="./style/custom.css">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link rel="stylesheet" href="./style/bootstrap-responsive.css">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Sunseeker</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div id="content" class="row">
        <div class="span3">
          <div id="controller">
              <textarea id="textField" placeholder="Text input" rows="3"></textarea>
              <button id="submitNote" class="btn">Submit</button>
          </div>
        </div>
        <div class="span9">
          <div id="map">
            <h1>Notes</h1>
            <ul id="notes">
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="./js/jquery-2.0.2.js"></script>
    <!-- // <script type="text/javascript" src="./js/bootstrap.js"></script> -->
    <script type="text/javascript">
        $("#submitNote").click(function() {
          var note = $("#textField").val();
          console.log(note);
          if (note !== "") {
            $.ajax({
              type: 'POST',
              url: "/addNote",
              data: JSON.stringify({text: note}),
              contentType: "application/json",
              timeout: 5000,
              complete: function() {
                console.log('process complete');
              },
              success: function (data) {
                console.log(data);
                $("#textField").val("");
                reloadNotes();
                // $.each(data.notes, function(_, note) {
                //   console.log(note);
                //   var li = "<li>" + note.text + "</li>";
                //   $("#notes").append(li);
                // });
              },
              error: function (xhr, status, error) {
                console.log('Error: ' + error.message);
                $("#submitNote").text("Retry");
              }
            });
          }
        });
        function reloadNotes() {
          $.ajax({
            type: 'GET',
            url: "/getNotes",
            contentType: "application/json",
            complete: function() {
              console.log('process complete');
            },
            success: function (data) {
              console.log(data);
              $("#notes").empty();
              $.each(data, function(_, note) {
                console.log(note);
                var day = new Date(note.postdate);
                var day = "<b>" + day.toDateString() + "<b>";
                var text = "<p>" + note.text + "</p>";
                var li = "<li>" + day + text + "</li>";
                $("#notes").append(li);
              });
            },
            error: function (xhr, status, error) {
              console.log('Error: ' + error.message);
            }
          });
        }
    </script>

  </body>
</html>
