<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sunseeker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/custom.css">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Sunseeker</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <div id="notes" class="row">
      <div class="span3">
        <div id="notes">
          <form id="addNote" action="#">
            <div>
              <label for="text">Text: </label><input id="text" type="text" />
              <button id="add">Add</button>
            </div>
          </form>
        </div>
      </div>
      <div class="span9">
        <div id="map">
          <h1>Notes</h1>
        </div>
      </div>
    </div>
  </div>

  <script id="noteTemplate" type="text/template">
    <ul>
      <li><p><b><%= text %></b></p></li>
      <li><%= $.format.date( new Date( postdate ), 'mm:H MMM yyyy' ) %></li>
    </ul>
    <button class="delete">Delete</button>
  </script>

  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/jquery.dateFormat-1.0.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/models/note.js"></script>
  <script src="js/collections/todo.js"></script>
  <script src="js/views/note.js"></script>
  <script src="js/views/todo.js"></script>
  <script src="js/app.js"></script>
</body>
</html>