div.container
  div.row-fluid.spacer
    div.span12
      div.center
        input#address.search-query(type="text", placeholder="Enter city")

div.container.fill
  div.row-fluid.fill.spacer
    div#maps.span10.offset1
      div#map_canvas

script#noteTemplate(type="text/template")
  | <p><p><b><%= text %></b></p></p>
  | <p><%= $.format.date( new Date( postdate ), 'H:mm d. MMM yyyy' ) %></p>
  | <button class="btn delete">Delete</button>
