div.pure-u-1
  div#impressum-modal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="ImpressumLabel", aria-hidden="true")
    div.modal-header
      h3#ImpressumLabel Impressum

    div.modal-body
      h4 Lars Butzmann
      p
        span Master Student IT Systems Engineering
        br
        span Hasso Plattner Institute
        br
        span Potsdam, Germany
      p
        a(href="http://de.linkedin.com/in/larsbutzmann")
          img(src="img/linkedin.png", alt="LinkedIn Profile")

    div.modal-footer
      div.pure-g-r
        div.pure-u-1-1
          div.l-box.l-centered
            button.pure-button.pure-button-primary(type="button", data-dismiss="modal", aria-hidden="true") Back
