div#myModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  div.modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
    h3 Rate the weather

  div.modal-body
    //
      div.center.spacer2
        input#slider(type="text")
        h3 Slide to rate
    div.center
      div.row-fluid
        div.span2.box cold
        div.span2.box snow
        div.span2.box wet
        div.span2.box windy
        div.span2.box warm
        div.span2.box hot

  div.modal-footer
    div.center
      button.btn.pull-left.span2(type="button", data-dismiss="modal", aria-hidden="true") Close
      button.btn.btn-primary.pull-right.span2(type="button", data-dismiss="modal", aria-hidden="true") Save
