div.pure-u-1
  div#myModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-header
      h3#myModalLabel Rate the Weather

    div.modal-body
      div.pure-g-r
        div.pure-u-1-4.l-centered(selected="false")
          div.box
            img.icon(src="img/icons/cloudy.png")
        div.pure-u-1-4.l-centered(selected="false")
          div.box
            img.icon(src="img/icons/partlysunny.png")
        div.pure-u-1-4.l-centered(selected="false")
          div.box
            img.icon(src="img/icons/mostlysunny.png")
        div.pure-u-1-4.l-centered(selected="false")
          div.box
            img.icon(src="img/icons/clear.png")

    div.modal-footer
      div.pure-g-r
        div.pure-u-1-2
          div.l-box.l-centered
            button.pure-button(type="button", data-dismiss="modal", aria-hidden="true") Close
        div.pure-u-1-2
          div.l-box.l-centered
            button.pure-button.pure-button-primary(type="button", data-dismiss="modal", aria-hidden="true") Submit
