script(type='text/javascript', src='js/lib/jquery.js')
script(type='text/javascript', src='js/lib/underscore.js')
script(type='text/javascript', src='js/lib/backbone.js')
script(type='text/javascript', src='js/lib/bootstrap.js')
script(type='text/javascript', src='js/lib/bootstrap-slider.js')
script(type='text/javascript', src='js/models/note.js')
script(type='text/javascript', src='js/collections/todo.js')
script(type='text/javascript', src='js/views/note.js')
script(type='text/javascript', src='js/views/todo.js')
script(type='text/javascript', src='js/app.js')