script(type='text/javascript', src='js/lib/jquery.js')
script(type='text/javascript', src='js/lib/underscore.js')
script(type='text/javascript', src='js/lib/rainbow-min.js')
script(type='text/javascript', src='js/lib/bootstrap-modal.js')
script(type='text/javascript', src='js/lib/bootstrap-modalmanager.js')
script(type='text/javascript', src='js/lib/metar.js')
script(type='text/javascript', src='js/custom/custom.js')
