!!!5
html
  head
    include includes/head

  body
    div.pure-g-r#layout
      include includes/header
    include includes/map
      include includes/modal
      include includes/impressum

    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true')
    include includes/scripts
    script(type='text/javascript', src='js/custom/maps.js')
